<%- include('../header') %>
<form method="POST" action="/categorias/editar/<%= categoria.id %>">
  <div class="form-group">
    <label for="categoria">Email address</label>
    <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Digite a categoria" value="<%= categoria.categoria %>" />
  </div>
  <button class="btn btn-success">Salvar</button>
</form>
<%- include('../footer') %>